.cabecera {
    background-color: $fondoCabecera;

    .btn {
        background-color: $fondoPagina;
    
        &:hover {
            background-color: $enfasis;
        }
    }
    
    .logoMP {
        width: 100px;
    }
    
    .navbar-brand {
        cursor: pointer;
    }    
}
