.cabecera {
    background-color: $fondoCabecera;
}

.btn {
    background-color: $fondoPagina;

    &:hover {
        background-color: $enfasis;
    }
}

.logoMP {
    width: 100px;
}

.imgBandera {
    width: 50px;
    padding: 10px;
}
