.menu-empresa {
    color: $enfasis;
    text-decoration: none;

    a {
        color: $colorTexto;
        text-decoration: none;
    }

    .nav-item {
        .active, .active a {
            background-color: $transparente !important;
            color: $enfasis;
            font-weight: bold;
            text-decoration: none;
        }

        .nav-link-hover {
            display: none;
        }

        .nav-link-nohover {
            &.active {
                display: none;

                + .nav-link-hover {
                    display: block;
                }
            }
        }

        &:hover {
            .nav-link-nohover {
                display: none;
            }

            .nav-link-hover {                
                display: block;
            }
        }
    }
}
