@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.cabecera {
    h1 {
        color: $enfasis;
        font-family: "Shadows Into Light", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        text-align: center;
        padding: 10px 0;
    }
}

