// tonalidades
$tonoBlanco: #f1f1e6;
$transparente: #ffffff00;

// fondo de la página
$fondoPagina: #8ba1aa;

// enfasis
$enfasis: #5f4162;
$enfasis-hover: #4d3350;
$enfasis-translucido: #5f4162cb;
$enfasis2: #f59432;

// cabecera
$fondoCabecera: #364f59/*  */;
$colorTitulo: $tonoBlanco;

// contenido
$colorTextoImagen: $tonoBlanco;
$colorTexto: $tonoBlanco;

$fondo-filtrado: #77878d;
$color-filtrado: $tonoBlanco;

// pie
$fondoPie: #041f27;
$colorPie: $tonoBlanco;
