@import 'imports';

body {
    background-color: $fondoPagina;
    padding: 0 15px;
}

.card {
    border-radius: 15px;

    h1 {
        font-size: 20px;
        padding: 5px 0px 5px 0px;
    }

    h2, p {
        margin-left: 10px;
    }

    h2 {
        font-size: 15px;
        font-weight: bold;
    }

    div {
        font-size: 12px;
        padding: 10px;
    }

    .info {
        background-color: $tonoBlanco;
        border-radius: 10px;
    }

    .negrita {
        font-weight: bold;
    }

    .btn {
        color: $enfasis;
        border-color: $enfasis;;

        &:hover {
            color: $tonoBlanco;
            background-color: $enfasis;
        }
    }

    .boton-ver {
        padding: 20px 11px 0px 11px;
    }

    table {
        text-align: center;
        font-size: 13px;
        margin: 0 0 15px 0;
        .bandera {
            font-size: 20px;
        }
    }
}

// para que ningún otro elemento tape el tooltip
.react-tooltip {
    z-index: 9999;
}

// para que desaparezca el scroll horizontal que genera el infinite scroll
.infinite-scroll-component {
    overflow: hidden !important;
}

.lista-filtrado-botones {
    background-color: $fondo-filtrado;
    padding: 10px 15px;
    margin: 1;

    h1 {
        color: $color-filtrado;
        font-size: 17px;
        font-weight: bold;
        padding: 5px 0;
    }
}

.resultados-busqueda {
    padding: 50px 0;
}
