footer {
    background-color: $fondoPie;
    color: $colorPie;
    font-size: 13px;
    text-align: center;

    .logoFooter {
        width: 65px;
        margin: 0 0 20px 0;
    }

    .tituloMP {
        font-weight: bold;
    }

    .contadores {
        background-color: $enfasis;
        margin-bottom: 20px;

        padding: 20px 0 10px 0;

        h1 {
            font-weight: light;
            font-size: 20px;
        }

        .numContador {
            font-size: 50px;
        }
    }   
}
